
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/host/{{model.hostID}}/event">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    EVENTS
                </a>
            </div>
            <div class="navbar-text pull-right" href="#/host/{{model.hostID}}/event/new">
                <a>
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="#/host/{{model.hostID}}/event">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
           </div>
            <div class="navbar-text pull-right" ng-click="model.editEvent(model.event)">
                <a href="">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Edit Event
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">


    <div class="col-sm-4 pull-left hidden-xs">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        Name
                    </div>
                    <div class="col-xs-6">
                        <a href="#/host/{{model.hostID}}/event/new" class="pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>

                </div>
            </li>
            <li ng-repeat="event in model.events" class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        {{event.name}}
                    </div>
                    <div class="col-xs-6">
                        <a href="#/host/{{event.host}}/event/{{event._id}}" class="pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <div class="col-sm-8">

        <label for="event-edit-event-name">Event Name</label>
        <input class="form-control"
               ng-model="model.event.name"
               id="event-edit-event-name"
               value="Address Book App"
               type="text"/>

        <div class="form-group">
        <label for="event-edit-event-description">Event Description</label>
        <textarea class="form-control"
                  ng-model="model.event.description"
                  value="Description"
                  id="event-edit-event-description"
                  rows="4"></textarea>
        </div>

        <label for="event-edit-event-location">Event Location</label>
        <input class="form-control"
               ng-model="model.event.location"
               id="event-edit-event-location"
               value="Boston, MA"
               type="text"/>

        <label for="event-edit-event-time">Event Time</label>
        <input class="form-control"
               ng-model="model.event.time"
               id="event-edit-event-time"
               value="18:00 EST"
               type="text"/>


        <a class="btn btn-danger btn-block" ng-click="model.deleteEvent()">
            Delete
        </a>

    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/host/{{model.hostID}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

