
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/host/{{model.hostID}}/event/{{model.eventID}}/home">
                Your Invitations
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/host/{{model.hostID}}/event/" >EVENTS HOME</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">


    <ul class="list-group-item">
        <div ng-repeat="invite in model.invites track by $index">
            <li class="list-group-item">
                <div class="row">
                    <p>{{invite.sender}} invited you to his
                        <a href="#/guest/{{model.hostID}}/event/{{invite.event}}">
                            {{invite.eventname}}
                        </a>
                    </p>
                    <button class="btn btn-success" ng-click="model.acceptInvitation(invite)">
                        Accept Invitation
                    </button>
                    <button class="btn btn-danger" ng-click="model.cancelInvitation(invite)">
                        Cancel Invitation
                    </button>
                </div>
            </li>
        </div>
    </ul>



</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/host/{{model.hostID}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
