
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/host/{{model.hostID}}/event/{{model.eventID}}/home">
                {{model.event.name}} Guests
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/host/{{model.hostID}}/event/" >EVENTS HOME</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <h3 class="text-center">{{model.event.name}} Guests</h3>
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" ng-click="model.refreshData()" href="#myGuests" target="_self">
                Guests
            </a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="model.refreshData()" href="#conGuests" target="_self">
                Confirmed Guests
            </a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="model.refreshData()" href="#penGuests" target="_self">
                Pending Guests
            </a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="model.refreshData()" href="#newGuests" target="_self">
                Add Guests
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="myGuests" class="tab-pane fade in active">
            <ul class="list-group">
                <div ng-repeat="guest in model.guests track by $index">
                    <li class="list-group-item">
                        <a href="">
                            {{guest}}
                        </a>
                    </li>
                </div>
            </ul>
        </div>

        <div id="conGuests" class="tab-pane fade">
            <ul class="list-group">
                <div ng-repeat="guest in model.acceptedGuests track by $index">
                    <li class="list-group-item">
                        <a href="">
                            {{guest}}
                        </a>
                    </li>
                </div>
            </ul>
        </div>

        <div id="penGuests" class="tab-pane fade">
            <ul class="list-group">
                <div ng-repeat="guest in model.pennGuests track by $index">
                    <li class="list-group-item">
                        <div class="row">
                            <a href="">
                                {{guest.username}}
                            </a>

                            <button class="btn btn-danger" ng-click="model.cancelInvitation(guest)">
                                Cancel Invitation
                            </button>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

        <div id="newGuests" class="tab-pane fade">

            <div>
                <label for="event-guestname">Enter Guest Username</label>
                <input class="form-control"
                       ng-model="model.username"
                       id="event-guestname"
                       value="18:00 EST"
                       type="text"/>


                <a class="btn btn-danger btn-block" ng-click="model.findUser(model.username)">
                    Find User
                </a>
            </div>

            <div ng-show="model.guestname">
                <div class="col-xs-6">
                    {{model.guestname}}
                </div>

                <div class="col-xs-6">
                    <a class="btn btn-danger btn-block" ng-click="model.createInvite()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>


            <div ng-show="model.invitationstatus">
                {{model.invitationstatus}}
            </div>



            </div>

    </div>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/host/{{model.hostID}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
