
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/host/{{model.hostID}}/event">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    Events
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>

        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="#/host/{{model.hostID}}/event">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a ng-click="model.createEvent(model.event)" href="">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    Plan New Event
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">


    <div class="col-sm-4 pull-left hidden-xs">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        Event Name
                    </div>
                    <div class="col-xs-6">
                        <a href="#/host/{{model.hostID}}/event/new" class="pull-right">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>

                </div>


            </li>
            <li ng-repeat="event in model.events" class="list-group-item">
                <div class="row">
                    <div class="col-xs-6">
                        {{event.name}}
                    </div>
                    <div class="col-xs-6">
                        <a href="#/host/{{event.host}}/event/{{event._id}}" class="pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>

    <div class="col-sm-8">
        <form name="newevent" novalidate>
            <label for="event-new-event-name">Event Name</label>
            <input ng-model="model.event.name"
                   class="form-control"
                   name="name"
                   id="event-new-event-name"
                   placeholder="Event Name" type="text" required/>

            <div class="error" ng-show="newevent.name.$invalid && newevent.$submitted">
                   <li>Event Name is required</li>
            </div>


            <label for="event-new-event-description">Event Description</label>
            <textarea ng-model="model.event.description"
                          class="form-control"
                          placeholder="Description"
                          id="event-new-event-description" rows="2"></textarea>


            <label for="event-new-event-location">Event Location</label>
            <input class="form-control"
                   name="location"
                   ng-model="model.event.location"
                   id="event-new-event-location"
                   placeholder="Boston"
                   type="text" required/>

            <div class="error" ng-show="newevent.location.$invalid && newevent.$submitted">
                <li>Event Location is required</li>
            </div>

            <label for="event-date">Event Data</label>
            <div class="input-group date" data-provide="datepicker">
                <input id="event-date"
                       name="date"
                       type="text"
                       class="form-control"
                       ng-model="model.event.date" required/>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>

            <div class="error" ng-show="newevent.date.$invalid && newevent.$submitted">
                <li>Event Date is required</li>
            </div>

            <label for="event-time">Event Time</label>
            <div class="input-group bootstrap-timepicker timepicker">
                <input ng-model="model.event.time"
                       name="time"
                       id="event-time"
                       type="text"
                       class="form-control input-small" required/>
                <span class="input-group-addon">
                        <i class="glyphicon glyphicon-time"></i>
                </span>
            </div>


            <div class="error" ng-show="newevent.time.$invalid && newevent.$submitted">
                <li>Event Time is required</li>
            </div>

            <button type="submit" class="btn btn-primary btn-block" ng-click="model.createEvent(model.event)">
                    Create Event
            </button>
        </form>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/host/{{model.hostID}}/event">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

