
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">PlanIT</div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/host/{{model.hostID}}/event/new">PLAN NEW EVENT</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" ng-click="model.refreshData()" href="#myevents" target="_self">
                My Events
            </a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="model.refreshData()" href="#eventsAttending" target="_self">
                Events Attending
            </a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="model.refreshData()" href="#myprofile" target="_self">
                My Profile
            </a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="model.refreshData()" href="#myinvitations" target="_self">
                My Invitations
            </a>
        </li>
    </ul>


    <div class="tab-content">
        <div id="myevents" class="tab-pane fade in active">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6">
                            Event Name
                        </div>

                        <div class="col-xs-6">
                            <a href="#/host/{{model.hostID}}/event/new" class="pull-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </div>
                    </div>
                </li>

                <li ng-repeat="event in model.events" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#/host/{{event.host}}/event/{{event._id}}/home">
                                {{event.name}}
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#/host/{{event.host}}/event/{{event._id}}" class="pull-right">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div id="eventsAttending" class="tab-pane fade">
            <ul class="list-group">
                <li ng-repeat="event in model.upcomingEvents" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6">
                            Event Name
                        </div>

                        <div class="col-xs-6">
                            <a href="#/guest/{{model.hostID}}/event/{{event.event}}">
                                {{event.eventname}}
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div id="myprofile" class="tab-pane fade">

            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>

            <div ng-show="model.message" class="alert alert-success">
                {{model.message}}
            </div>
            <br>
            <br>
            <div id="profile">
            <div class="row">
                <div class="col-md-4 well" id="leftPanel">
                    <div class="row">

                        <div class="col-xs-12 hidden-sm hidden-lg hidden-md text-center">
                            <div>
                                <img src="http://lorempixel.com/200/200/abstract/1/"
                                     alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">
                                <h2 id="profilexsEmail" class="text-center">{{model.user.username}}</h2>
                            </div>
                        </div>

                        <div class="col-sm-12 hidden-xs hidden-lg hidden-md text-center">
                            <div>
                                <img src="http://lorempixel.com/200/200/abstract/1/"
                                     alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">
                                <h2 id="profilesmEmail" class="text-center">{{model.user.username}}</h2>
                            </div>
                        </div>
                        <div class="col-lg-12 hidden-sm hidden-md hidden-xs text-center">
                            <div>
                                <img src="http://lorempixel.com/200/200/abstract/1/"
                                     alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">
                                <h2 id="profileEmail" class="text-center">{{model.user.username}}</h2>
                            </div>
                        </div>

                        <div class="col-md-12 hidden-sm hidden-lg hidden-xs">
                            <div>
                                <img src="http://lorempixel.com/200/200/abstract/1/"
                                     alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">
                                <h2 id="profilemdEmail" class="text-center">{{model.user.username}}</h2>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 well" id="rightPanel">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Edit your profile</h2>
                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input class="form-control input-lg"
                                               ng-model="model.user.firstName"
                                               id="profile-fname"
                                               placeholder="First Name"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input class="form-control input-lg"
                                               ng-model="model.user.lastName"
                                               id="profile-lname"
                                               placeholder="Last Name"
                                               type="text"/></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control input-lg"
                                               ng-model="model.user.email"
                                               placeholder="email"
                                               id="profile-mail"
                                               type="email"/>
                                    </div>
                                    <hr class="colorgraph">
                                    <div class="row form-group">
                                        <div class="col-xs-12 col-md-4">
                                            <a ng-click="model.logout()"
                                               class="btn btn-danger btn-block btn-lg">
                                                logout
                                            </a>

                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <a ng-click="model.updateUser(model.user)"
                                               class="btn btn-success btn-block btn-lg">
                                                Save
                                            </a>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <a ng-click="model.deleteUser(model.user)"
                                               class="btn btn-danger btn-block btn-lg">
                                                Delete Account
                                            </a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </div>

        <div id="myinvitations" class="tab-pane fade">
            <ul class="list-group-item">
                <div ng-repeat="invite in model.invites track by $index">
                    <li class="list-group-item">
                        <div class="row">
                            <p>{{invite.sender}} invited you to his
                                <a href="#/guest/{{model.hostID}}/event/{{invite.event}}">
                                    {{invite.eventname}}
                                </a>
                            </p>
                            <button class="btn btn-success" ng-click="model.acceptInvitation(invite)">
                                Accept Invitation
                            </button>
                            <button class="btn btn-danger" ng-click="model.cancelInvitation(invite)">
                                Cancel Invitation
                            </button>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>


