
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/host/{{model.hostID}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/host/{{model.hostID}}/event/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                Events
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div class="btn-group" role="group">
        <a href="#/host/{{model.hostID}}/event/home" class="btn btn-default">Events</a>
        <a href="#/host/{{model.hostID}}/event/profile" class="btn btn-default">Profile</a>
        <a href="#host/{{model.hostID}}/event/invites" class="btn btn-default">Invitations</a>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    Event Name
                </div>

                <div class="col-xs-6">
                    <a href="#/host/{{model.hostID}}/event/new" class="pull-right">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </li>

        <li ng-repeat="event in model.events" class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <a href="#/host/{{event.host}}/event/{{event._id}}/home">
                        {{event.name}}
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="#/host/{{event.host}}/event/{{event._id}}" class="pull-right">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/host/{{model.hostID}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
