
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">PlanIT</div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="model.logout()">LOGOUT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/vendor/{{model.vendorId}}/service/new">ADD NEW SERVICE</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <h3 class="text-center">Services</h3>
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#myservices" ng-click="model.refreshData()" target="_self">
                My Services
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#currOrders" ng-click="model.refreshData()" target="_self">
                Current Orders
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#newOrders" ng-click="model.refreshData()" target="_self">
                New Orders
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#vendorProfile" ng-click="model.refreshData()" target="_self">
                My Profile
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="myservices" class="tab-pane fade in active">
            <ul class="list-group">
                <div ng-repeat="service in model.services">
                    <li class="list-group-item">
                        <a href="#/vendor/{{model.vendorId}}/service/{{service._id}}/view">
                            {{service.name}}
                        </a>
                        <a href="#/vendor/{{model.vendorId}}/service/{{service._id}}" class="pull-right">
                            <span class="glyphicon glyphicon-cog">
                            </span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <div id="currOrders" class="tab-pane fade">
            <ul class="list-group">
                <div ng-repeat="order in model.currOrders track by $index">
                    <li class="list-group-item">
                        <div class="row">
                            <a href="#{{order._id}}1" data-toggle="collapse" target="_self">
                            <h4>Order Id : {{order._id}}</h4>
                            </a>
                            <div id="{{order._id}}1" class="collapse">
                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-model="model.orderID">Order Id : {{order._id}}</div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Host</th>
                                            <th>Delivery Time</th>
                                            <th>Delivery Date</th>
                                            <th>Service</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{order.user}}</td>
                                            <td>{{order.time}}</td>
                                            <td>{{order.date}}</td>
                                            <td>{{order.service}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </li>
                </div>
            </ul>

        </div>
        <div id="newOrders" class="tab-pane fade">
            <ul class="list-group">
                <div ng-repeat="order in model.orders track by $index">
                    <li class="list-group-item">
                        <div class="row">
                            <a href="#{{order._id}}" data-toggle="collapse" target="_self">
                                <h4>Order Id : {{order._id}}</h4>
                            </a>
                            <div id="{{order._id}}" class="collapse">
                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-model="model.orderID">Order Id : {{order._id}}</div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Host</th>
                                            <th>Plates Ordered</th>
                                            <th>Delivery Date</th>
                                            <th>Delivery Time</th>
                                            <th>Service</th>
                                            <th>Cost</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{order.user}}</td>
                                            <td>{{order.platesrequested}}</td>
                                            <td>{{order.date}}</td>
                                            <td>{{order.time}}</td>
                                            <td>{{order.service}}</td>
                                            <td>{{order.cost}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-success" ng-click="model.acceptOrder(order)">Accept Order</button>
                                <button class="btn btn-danger" ng-click="model.cancelOrder(order)">Cancel Order</button>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

        <div id="vendorProfile" class="tab-pane fade">

            <div ng-show="model.error" class="alert alert-danger">
                {{model.error}}
            </div>

            <div ng-show="model.message" class="alert alert-success">
                {{model.message}}
            </div>
            <br>
            <br>
            <div id="profile">
                <div class="row">
                    <div class="col-md-4 well" id="leftPanel">
                        <div class="col-xs-12 hidden-sm hidden-lg hidden-md text-center">
                            <div>
                                <img src="http://lorempixel.com/200/200/abstract/1/"
                                     alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">
                                <h2 id="profilexsEmail" class="text-center">{{model.vendor.vendorname}}</h2>
                            </div>
                        </div>

                        <div class="col-sm-12 hidden-xs hidden-lg hidden-md text-center">
                            <div>
                                <img src="http://lorempixel.com/200/200/abstract/1/"
                                     alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">
                                <h2 id="profilesmEmail" class="text-center">{{model.vendor.vendorname}}</h2>
                            </div>
                        </div>
                        <div class="col-lg-12 hidden-sm hidden-md hidden-xs text-center">
                            <div>
                                <img src="http://lorempixel.com/200/200/abstract/1/"
                                     alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">
                                <h2 id="profileEmail" class="text-center">{{model.vendor.vendorname}}</h2>
                            </div>
                        </div>

                        <div class="col-md-12 hidden-sm hidden-lg hidden-xs">
                            <div>
                                <img src="http://lorempixel.com/200/200/abstract/1/"
                                     alt="Texto Alternativo"
                                     class="img-circle img-thumbnail">
                                <h2 id="profilemdEmail" class="text-center">{{model.vendor.vendorname}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 well" id="rightPanel">
                        <div class="row">
                            <div class="col-md-12">
                                <h2>Edit your profile</h2>
                                <hr class="colorgraph">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input class="form-control input-lg"
                                                   ng-model="model.vendor.firstName"
                                                   placeholder="First Name"
                                                   type="text"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input class="form-control input-lg"
                                                   ng-model="model.vendor.lastName"
                                                   placeholder="Last Name"
                                                   type="text"/></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <input class="form-control input-lg"
                                                   ng-model="model.vendor.cityname"
                                                   placeholder="City Name"
                                                   id="profile-cityname"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-md-4">
                                        <a ng-click="model.logout()"
                                           class="btn btn-danger btn-block btn-lg">
                                            logout
                                        </a>

                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <a ng-click="model.update(model.vendor)"
                                           class="btn btn-success btn-block btn-lg">
                                            Save
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-md-4">
                                        <a ng-click="model.deleteVendor(model.vendor)"
                                           class="btn btn-danger btn-block btn-lg">
                                            Delete Account
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>




</div>
</div>


