<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/vendor/{{model.vendorId}}/service" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </div>
            <a class="navbar-brand" href="#/vendor/{{model.vendorId}}/service">
                <label>Services</label>
            </a>

            <div class="navbar-text pull-right">
                <a href="#/vendor/{{model.vendorId}}/service/new" class="navbar-link">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                </a>
            </div>
        </div>
        <div class="col-sm-8 hidden-xs">
            <a class="navbar-brand">
                <label>New Service</label>
            </a>
            <div class="navbar-text pull-right">
                <a href="" ng-click="model.createService()" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                </a>
            </div>
        </div>

        <div class="col-xs-12 visible-xs">
            <div class="navbar-text pull-left">
                <a href="#/vendor/{{model.vendorId}}/service" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </div>
            <a class="navbar-brand">
                <label>New Service</label>
            </a>
            <div class="navbar-text pull-right">
                <a href="" ng-click="model.createService()" class="navbar-link">
                      <span class="glyphicon glyphicon-ok">
                      </span>
                </a>
            </div>
        </div>
    </div>
</nav>


<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <ul class="list-group">
            <div ng-repeat="service in model.services">
                <li class="list-group-item">
                    <a href="#/vendor/{{model.vendorId}}/service/{{service._id}}/view">
                        {{service.name}}
                    </a>
                    <a href="#/vendor/{{model.vendorId}}/service/{{service._id}}" class="pull-right">
              <span class="glyphicon glyphicon-cog">
              </span>
                    </a>
                </li>
            </div>
        </ul>
    </div>

    <div class="col-sm-8 col-xs-12 wbdv-right-pane">

        <label for="service-type" class="form-control-label">Service Type</label>
        <select class="form-control" ng-model="model.service.type"
                ng-change="model.dropChange()" id="service-type">
            <option value="flower">Flower Service</option>
            <option value="food">Food Service</option>
            <option value="place">Place Service</option>
        </select>

        <div id="newNAme" class="form-group">
            <label for="new-web-name" class="form-control-label">Name</label>
            <input ng-model="model.service.name"
                   id="new-web-name"
                   class="form-control"
                   type="text"
                   placeholder="Name">
        </div>
        <div class="form-group">
            <label for="new-web-description" class="form-control-label">Description</label>
            <textarea ng-model="model.service.description"
                      id="new-web-description"
                      class="form-control"
                      rows="4"
                      cols="100"
                      placeholder="Description">
            </textarea>
        </div>

        <div class="form-group" ng-show="model.place">
            <label for="capacity" class="form-control-label">Maximum Capacity</label>
            <input ng-model="model.service.capacity"
                   id="capacity"
                   class="form-control"
                   type="text"
                   placeholder="Max Capacity">
        </div>

        <div class="form-group">
            <label for="address" class="form-control-label">Location Address</label>
            <input ng-model="model.service.address"
                   id="address"
                   class="form-control"
                   type="text"
                   placeholder="Location Address">
        </div>

        <div class="form-group" ng-show="model.food">
            <label for="perplatecost" class="form-control-label">Per Plate Cost</label>
            <input ng-model="model.service.perPlateCost"
                   id="perplatecost"
                   class="form-control"
                   type="text"
                   placeholder="Per Plate Cost">
        </div>

        <div class="form-group">
            <label for="city" class="form-control-label">City</label>
            <input ng-model="model.service.city"
                   id="city"
                   class="form-control"
                   type="text"
                   placeholder="City">
        </div>

    </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/vendor/{{model.vendorId}}" class="navbar-link">
                <span class="glyphicon glyphicon-vendor"></span>
            </a>
        </div>
    </div>
</nav>