
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">PlanIT</div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/vendor/{{model.vendorId}}/service">SERVICES HOME</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="container">
        <h1 class=" text-center">{{model.service.name}}</h1>
    </div>

    <div class="jumbotron text-center container">
        <p>{{model.service.description}}</p>
    </div>

    <div id="services" class="container-fluid text-center">

        <br>
        <div class="row slideanim">
            <div class="col-sm-6">
                <span class="glyphicon  glyphicon-user logo-small"></span>
                <h4>{{model.service.capacity}}</h4>
            </div>

            <div class="col-sm-6">
                <span class="glyphicon glyphicon-map-marker logo-small"></span>
                <h4>{{model.service.city}}</h4>
            </div>

        </div>
        <br><br>
    </div>


    <div class="container text-center">
        <h2>Contact Informaiton</h2>
        <p> {{model.service.address}} <p>
    </div>
</div>

