<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/vendor/{{model.vendorId}}" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
            </a>
        </div>
        <a class="navbar-brand">
            <label>Services</label>
        </a>
        <div class="navbar-text pull-right">
            <a href="#/vendor/{{model.vendorId}}/service/new" class="navbar-link btn btn-danger">
                Create New Service
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
        <div ng-repeat="service in model.services">
            <li class="list-group-item">
                <a href="#/vendor/{{model.vendorId}}/service/{{service._id}}/view">
                    {{service.name}}
                </a>
                <a href="#/vendor/{{model.vendorId}}/service/{{service._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog">
              </span>
                </a>
            </li>
        </div>
    </ul>
</div>

<div class="bottom-padding"></div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/vendor/{{model.vendorId}}" class="navbar-link">
                <span class="glyphicon glyphicon-vendor"></span>
            </a>
        </div>
    </div>
</nav>