<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">PlanIT</a>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#how-it-works" target="_self">HOW IT WORKS</a></li>
                <li><a href="#our-promise" target="_self">OUR PROMISE</a></li>
                <li><a href="">TOUR</a></li>
                <li><a href="#login">SIGN IN | SIGN UP</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- HOW IT WORKS -->
<div id="how-it-works">
    <div class="container text-center">
        <div class="text-center space-60">
            <h2 class="section-header animatedItem animated fadeInDown full-visible">How it works?</h2>
            <p>PlanIT is crazy simple to use</p>
        </div>
        <div class="row steps">
            <div class="col-sm-4 space-60">
                <!-- ICON FACTS 1 -->
                <div class="step animatedItem animated fadeInDown">
                    <img ng-src="https://cloud.peachd.com/prod/images/gateway_v2/how-it-works/daily-notification.svg"
                         alt="Daily Menu via Text"
                         src="https://cloud.peachd.com/prod/images/gateway_v2/how-it-works/daily-notification.svg">
                    <div class="content">
                        <h3>Daily Menu</h3>
                        <p>Simply reply with your dish choice by 10:30 a.m.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 space-60">
                <!-- ICON FACTS 2 -->
                <div class="step animatedItem animated fadeInDown">
                    <img ng-src="https://cloud.peachd.com/prod/images/gateway_v2/how-it-works/lunch-arrives.svg"
                         alt="Lunch Arrives"
                         src="https://cloud.peachd.com/prod/images/gateway_v2/how-it-works/lunch-arrives.svg">
                    <div class="content">
                        <h3>Lunch Arrives</h3>
                        <p>We’ll notify you when lunch arrives at your office.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <!-- ICON FACTS 3 -->
                <div class="step animatedItem animated fadeInDown">
                    <img ng-src="https://cloud.peachd.com/prod/images/gateway_v2/how-it-works/grab-lunch.svg"
                         alt="Grab Your Lunch"
                         src="https://cloud.peachd.com/prod/images/gateway_v2/how-it-works/grab-lunch.svg">
                    <div class="content">
                        <h3>Grab Your Lunch</h3>
                        <p>Find the dish you ordered and enjoy!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- HOW IT WORKS END -->


<div id="our-promise">
    <div class="container">
        <div class="text-center">
            <h1>Our Promise</h1>
        </div>
        <div class="row">
            <div class="col-sm-4 space-60">
                <div class="text-center">
                    <img src="http://www.allseated.com/wp-content/uploads/2016/01/index-customer.png"
                         class="mobile-small"
                         alt="24-7 support is available to ensure your event planning success" />

                    <div class="content">
                        <h3>24/7 Customer Service</h3>
                        <p>We are always around to help! And you never know, you may even get help from our CEO through our 24-hour Live Chat!</p>

                    </div>
                </div>
            </div>

            <div class="col-sm-4 space-60">
                <div class="text-center">
                    <img src="http://www.allseated.com/wp-content/uploads/2016/01/index-innovation.png"
                         class="mobile-small"
                         alt="AllSeated constantly launches new features to make event planning easier" />

                    <div class="content">
                        <h3>Continued Innovation</h3>
                        <p>We hear you and are constantly developing cutting-edge technology to make the tools simple for everyday use.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 space-60">
                <div class="text-center">
                    <img src="http://www.allseated.com/wp-content/uploads/2016/01/index-secure.png"
                         class="mobile-small"
                         alt="AllSeated is safe and secure" />
                    <div class="content">
                        <h3>Secured & Protected</h3>
                        <p>We take security seriously! Our servers are hosted in fully redundant data centers with multi-layer protection and dedicated Firewalls.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
