<video id="bgvid" autoplay loop>
    <source src="../video/Background.mp4" type="video/mp4" /><source>
</video>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand" href="">PlanIT</div>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href=""
                       ng-click="model.closeallmodalsAbout()"
                       data-toggle="modal"
                       data-target="#about"
                       target="_self"
                       data-dismiss="modal">ABOUT
                    </a>
                </li>
                <li>
                    <a href=""
                       ng-click="model.closeallmodalsLogin()"
                       data-toggle="modal"
                       data-target="#login"
                       target="_self"
                       data-dismiss="modal">SIGN IN | SIGN UP
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<div class="brand text-center col-xs-12">PlanIT</div>

<div class="modal fade" id="about" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header-login">
                <h2>PlanIT</h2>
            </div>
            <div class="modal-body">

                <p class="text-center">Event Planning made easy by PlanIT</p>
                <p class="text-center">All your event planning needs in one place</p>
                <p class="text-center">PlanIT helps you in planning an event.</p>
                <li>You can find Vendors for food, venue and flowers based on your city</li>
                <li>You can order services from Vendors</li>
                <li>You can create Guest List and send invitations to your guests</li>
                <li>You can delegate Event products to your guests and more</li>



            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default center-block" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="login" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header-login">
                <h2>PlanIT</h2>

            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-2 center-block">
                    </div>
                    <div class="col-xs-6 center-block">
                        <a href=""
                           data-toggle="modal"
                           data-target="#userlogin"
                           data-dismiss="modal"
                           ng-click="model.refreshData()"
                           target="_self">
                                <span class="glyphicon glyphicon-user logo-small text-center"><h4>User</h4></span>

                        </a>
                    </div>
                    <div class="col-xs-4 center-block">
                            <a href=""
                               data-toggle="modal"
                               data-target="#vendorlogin"
                               data-dismiss="modal"
                               ng-click="model.refreshData()"
                               target="_self">
                                <span class="glyphicon glyphicon-asterisk logo-small text-center"> <h4>Vendor</h4></span>

                            </a>
                    </div>
                    <div class="col-sm-4 center-block">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default center-block" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userlogin" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header-login">
                <h2>PlanIT</h2>

            </div>
            <div class="modal-body">
                <h1>Login</h1>

                <form name="loginform" ng-submit="model.login(model.user)" data-toggle="validator">

                    <div class="form-group">
                        <label for="inputEmail" class="control-label">Email</label>
                        <input type="email"
                               ng-model="model.user.username"
                               class="form-control"
                               id="inputEmail"
                               placeholder="User email"
                               data-error="Please enter Email in proper format" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input class="form-control"
                               name="password"
                               id="password"
                               ng-model="model.user.password"
                               placeholder="password"
                               type="password" data-error="Password is required" required/>
                        <div class="help-block with-errors"></div>
                    </div>

                        <button type="submit" class="btn btn-primary btn-block">
                            Login
                        </button>

                        <a class="btn btn-danger btn-block" data-dismiss="modal">
                            Cancel
                        </a>

                    </form>

                <a class="btn btn-success btn-block" href=""
                   data-toggle="modal"
                   data-target="#userregister"
                   ng-click="model.refreshData()"
                   data-dismiss="modal"
                   target="_self">
                    Register
                </a>

                <a href="/auth/user/facebook" class="btn btn-primary btn-block">
                    <span class="fa fa-facebook"></span>
                    Facebook
                </a>

                    <div ng-show="model.error" class="alert alert-danger">
                        {{model.error}}
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userregister" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header-login">
                <h2>PlanIT</h2>
            </div>
            <div class="modal-body">
                    <h3>Register</h3>


                    <form id="registerform" ng-submit="model.register(model.user)" data-toggle="validator">

                        <div class="form-group">
                            <label for="inputEmailR" class="control-label">Email</label>
                            <input type="email"
                                   ng-model="model.user.username"
                                   class="form-control"
                                   id="inputEmailR"
                                   placeholder="User email"
                                   data-error="Please enter Email in proper format" required>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="firstNameRU" class="control-label">First Name</label>
                            <input type="text"
                                   ng-model="model.user.firstName"
                                   class="form-control"
                                   id="firstNameRU"
                                   placeholder="First Name"
                                   data-error="First name required" required>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="lastNameRU" class="control-label">Last Name</label>
                            <input type="text"
                                   ng-model="model.user.lastName"
                                   class="form-control"
                                   id="lastNameRU"
                                   placeholder="Last Name"
                                   data-error="Last name required" required>
                            <div class="help-block with-errors"></div>
                        </div>


                        <div class="form-group">
                            <label for="passwordR" class="control-label">Password</label>
                            <input class="form-control"
                                   name="password"
                                   id="passwordR"
                                   ng-model="model.user.password"
                                   placeholder="password"
                                   type="password" data-error="Password is required" required/>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div class="form-group">
                            <label for="passwordR2" class="control-label">Verify Password</label>
                            <input class="form-control"
                                   name="password"
                                   id="passwordR2"
                                   ng-model="model.user.password2"
                                   placeholder="Confirm password"
                                   type="password" data-error="Please re-enter the Password is required" required/>
                            <div class="help-block with-errors"></div>
                        </div>

                        <div ng-show="model.error" class="alert alert-danger">
                            {{model.error}}
                        </div>
                        <div ng-show="model.passworderror" class="alert alert-danger">
                            {{model.passworderror}}
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">
                            Register
                        </button>
                    </form>

                    <a class="btn btn-danger btn-block" data-dismiss="modal">
                        Cancel
                    </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="vendorlogin" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header-login">
                <h2>PlanIT</h2>
            </div>
            <div class="modal-body">


                <h1>Login</h1>



                <form name="vendorlogin" ng-submit="model.vendorlogin(model.vendor)" data-toggle="validator">
                    <div class="form-group">
                        <input  ng-model="model.vendor.vendorname"
                                type="email"
                                class="form-control"
                                placeholder="Vendor email" data-error="Please enter email in proper format"
                                required/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input  ng-model="model.vendor.password"
                                type="password"
                                class="form-control"
                                placeholder="password" data-error="Password is required"
                                required/>
                        <div class="help-block with-errors"></div>
                    </div>
                    <button type="submit"  class="btn btn-primary btn-block">Login</button>
                </form>

                <div ng-show="model.Verror" class="alert alert-danger">
                    {{model.Verror}}
                </div>

                <div ng-show="model.message" class="alert alert-info">
                    {{model.message}}
                </div>

                <a class="btn btn-danger btn-block" data-dismiss="modal">
                    Cancel
                </a>

                <a class="btn btn-success btn-block" href=""
                   data-toggle="modal"
                   data-target="#vendorregister"
                   ng-click="model.refreshData()"
                   data-dismiss="modal"
                   target="_self">
                    Register
                </a>

                <a href="/auth/vendor/facebook" class="btn btn-primary btn-block">
                    <span class="fa fa-facebook"></span>
                    Facebook
                </a>
            </div>

    </div>
</div>
</div>

<div class="modal fade" id="vendorregister" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header-login">
                <h2>PlanIT</h2>
            </div>
            <div class="modal-body">
                <h3>Register</h3>


                <form id="registerformV" ng-submit="model.register()" data-toggle="validator">

                    <div class="form-group">
                        <label for="inputEmailRV" class="control-label">Email</label>
                        <input type="email"
                               ng-model="model.vendor.vendorname"
                               class="form-control"
                               id="inputEmailRV"
                               placeholder="Vendor email"
                               data-error="Please enter Email in proper format" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label for="firstNameRV" class="control-label">First Name</label>
                        <input type="text"
                               ng-model="model.vendor.firstName"
                               class="form-control"
                               id="firstNameRV"
                               placeholder="First Name"
                               data-error="First name required" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label for="lastNameRV" class="control-label">Last Name</label>
                        <input type="text"
                               ng-model="model.vendor.lastName"
                               class="form-control"
                               id="lastNameRV"
                               placeholder="Last Name"
                               data-error="Last name required" required>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label for="passwordRV" class="control-label">Password</label>
                        <input class="form-control"
                               name="password"
                               id="passwordRV"
                               ng-model="model.vendor.password"
                               placeholder="password"
                               type="password" data-error="Password is required" required/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <label for="passwordR2V" class="control-label">Verify Password</label>
                        <input class="form-control"
                               name="password"
                               id="passwordR2V"
                               ng-model="model.vendor.password2V"
                               placeholder="Confirm password"
                               type="password" data-error="Please re-enter the Password is required" required/>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div ng-show="model.passworderrorV" class="alert alert-danger">
                        {{model.passworderrorV}}
                    </div>

                <button type="submit" class="btn btn-primary btn-block" ng-click="model.vendorregister(model.vendor)">
                    Register
                </button>
                </form>

                <a class="btn btn-danger btn-block" data-dismiss="modal">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</div>
