<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">PlanIT ADMIN</div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="" ng-click="model.logout()">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>

<!--<nav class="navbar navbar-default navbar-fixed-top">-->
<!--<div class=" container-fluid">-->
<!--<a class="navbar-brand" href="">-->
<!--<label>Admin</label>-->
<!--</a>-->
<!--<div class="navbar-text pull-right">-->
<!--<a href="" ng-click="model.logout()" class="btn btn-success">-->
<!--Logout-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->

<div class="container">
    <div ng-show="model.userNfound" class="alert alert-danger">
        {{model.userNfound}}
    </div>

    <div ng-show="model.vendorNfound" class="alert alert-danger">
        {{model.vendorNfound}}
    </div>

    <div ng-show="urlForm.searchField.$invalid && model.noQuery" class="alert alert-danger">
        {{model.noQuery}}
    </div>

    <div ng-show="model.deleteError" class="alert alert-danger">
        {{model.deleteError}}
    </div>

    <div ng-show="model.deleteSuccess" class="alert alert-success">
        {{model.deleteSuccess}}
    </div>
</div>

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 centered">
                <h2>Search for Users</h2>
                <div id="custom-search-input">
                    <form name="urlForm" novalidate>
                        <div class="input-group col-md-12">
                            <input name="searchField" type="text"
                                   ng-model="model.userName" class="input-lg form-control" placeholder="Enter email-id here" required/>
                            <span class="input-group-btn">
                            <button ng-click="model.search()" class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                    </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <label for="user-type" class="form-control-label">Account Type</label>
    <select class="form-group marginbutton" ng-model="model.userType"
            ng-change="model.dropChange()"
            id="user-type"
            value="user" required novalidate>
        <option value="vendor">Vendor</option>
        <option value="user" selected>User</option>
    </select>

    <div ng-show="model.noType" class="alert alert-danger">
        {{model.noType}}
    </div>

    <div ng-if="model.user">
        <div class="row">
            <div class="col-sm-6">
                <a href=""
                   data-toggle="modal"
                   data-target="#showUser"
                   data-dismiss="modal"
                   target="_self">
                    <h4>{{model.user.name}}</h4>
                </a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger pull-right" ng-click="model.deleteUser()">Delete</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="showUser" role="dialog" data-backdrop="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header-login">
                    <h2>User Details</h2>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Username</label>
                            <div class="col-sm-8">
                                <p class="form-control-static" ng-show="model.vendor">{{model.user.vendorname}}</p>
                                <p class="form-control-static">{{model.user.username}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">User First Name</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">{{model.user.firstName}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">User Last Name</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">{{model.user.lastName}}</p>
                            </div>
                        </div>


                    </form>
                </div>

                <a href="" class="btn btn-primary btn-block" data-dismiss="modal">
                    Close
                </a>
            </div>
        </div>
    </div>


</div>

