<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/host/{{model.hostID}}/event/{{model.eventID}}/home">
                {{model.event.name}} Services
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/host/{{model.hostID}}/event/{{model.eventID}}/home">EVENT HOME</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <h3 class="text-center">Services</h3>
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" ng-click="model.refreshData()" href="#myservices" target="_self">
                My Services
            </a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="model.refreshData()" href="#conOrders" target="_self">
                Confirmed Orders
            </a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="model.refreshData()" href="#penOrders" target="_self">
                Pending Orders
            </a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="model.refreshData()" href="#newServices" target="_self">
                Add Services
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="myservices" class="tab-pane fade in active">
            <ul class="list-group">
                <div ng-repeat="service in model.services track by $index">
                    <li class="list-group-item">
                        <a href="#/vendor/{{model.vendorId}}/service/{{service._id}}/view">
                            {{service}}
                        </a>
                        <a href="#/vendor/{{model.vendorId}}/service/{{service._id}}" class="pull-right">
                            <span class="glyphicon glyphicon-cog">
                            </span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <div id="conOrders" class="tab-pane fade">
            <ul class="list-group">
                <div ng-repeat="order in model.conOrders">
                    <li class="list-group-item">
                        <div class="row">
                            <a href="#{{order._id}}1" data-toggle="collapse" target="_self">
                                Order Id : {{order._id}}
                            </a>
                            <div id="{{order._id}}1" class="collapse">
                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-model="model.orderID">Order Id : {{order._id}}</div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Vendor</th>
                                            <th>Plates Ordered</th>
                                            <th>Service Type</th>
                                            <th>Cost</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{order.vendor}}</td>
                                            <td>{{order.platesrequested}}</td>
                                            <td>{{order.type}}</td>
                                            <td>{{order.cost}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </li>
                </div>
            </ul>

        </div>

        <div id="penOrders" class="tab-pane fade">
            <ul class="list-group">
                <div ng-repeat="order in model.penOrders">
                    <li class="list-group-item">
                        <div class="row">
                            <a href="#{{order._id}}2" data-toggle="collapse" target="_self">
                                Order Id : {{order._id}}
                            </a>
                            <div id="{{order._id}}2" class="collapse">
                                <div class="panel panel-default">
                                    <div class="panel-heading" ng-model="model.orderID">Order ID : {{order._id}}</div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Vendor</th>
                                            <th>Plates Ordered</th>
                                            <th>Service Type</th>
                                            <th>Order Cost</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{order.vendor}}</td>
                                            <td>{{order.platesrequested}}</td>
                                            <td>{{order.type}}</td>
                                            <td>{{order.cost}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-danger" ng-click="model.cancelOrder(order)">Cancel Service</button>
                            </div>

                        </div>
                    </li>
                </div>
            </ul>

        </div>
        <div id="newServices" class="tab-pane fade">
            <div class="text-center">
                <h4> Search Services By</h4>
            </div>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#serviceByVendor" target="_self">
                        Vendor
                    </a>
                </li>
                <li>
                    <a data-toggle="tab"  href="#serviceInCity" target="_self">
                        City
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#serviceByType" target="_self">
                        Service Type
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="serviceByVendor" class="tab-pane fade in active">
                    <label for="event-vendor" class="form-control-label">Vendor Name</label>
                    <div class="input-group">
                        <input class="form-control"
                               ng-model="model.vendor"
                               id="event-vendor"
                               placeholder="Enter Vendor name"
                               type="text"/>
                        <span class="input-group-btn">
                                <button class="btn btn-danger" ng-click="model.findService(model.vendor)">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                    </div>
                    <ul class="list-group">
                        <div ng-repeat="vendor in model.vendors">
                            <li class="list-group-item">
                                <a href="#/vendor/{{model.vendorId}}/services">
                                    Vendor Name : {{vendor.name}}
                                </a>
                                <ul class="list-group">
                                    <div ng-repeat="vendorservice in vendor.services track by $index">
                                        <li class="list-group-item">
                                            <a href=""
                                               data-toggle="modal"
                                               data-target="#orderService"
                                               data-dismiss="modal"
                                               target="_self"
                                               ng-click="model.setServiceId(vendorservice._id)">
                                                Service Name : {{vendorservice.name}}
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>

                <div id="serviceInCity" class="tab-pane fade">
                    <label for="event-location" class="form-control-label">City Name</label>
                    <div class="input-group">

                        <input class="form-control"
                               ng-model="model.location"
                               id="event-location"
                               placeholder="Enter City Name"
                               type="text"/>
                        <span class="input-group-btn">
                                <button class="btn btn-danger" ng-click="model.findServiceByCity(model.location)">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                        </span>
                    </div>

                    <ul class="list-group">
                        <div ng-repeat="service in model.services track by $index">
                            <li class="list-group-item">
                                <a href=""
                                   data-toggle="modal"
                                   data-target="#orderService"
                                   data-dismiss="modal"
                                   target="_self"
                                   ng-click="model.setServiceId(service._id)">
                                    Service Name :    {{service.name}}
                                </a>
                            </li>
                        </div>
                    </ul>

                </div>

                <div id="serviceByType" class="tab-pane fade">
                    <form name="searchService" novalidate>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <label for="serviceType" class="form-control-label">Select Service Type</label>
                                <select class="form-control"
                                        ng-model="model.service.type"
                                        name="serviceType"
                                        id="serviceType" required>
                                    <option value="flower">Flower Service</option>
                                    <option value="food">Food Service</option>
                                    <option value="place">Place Service</option>
                                </select>

                                <div class="error" ng-show="searchService.serviceType.$invalid && searchService.$submitted">
                                    <li>Please select Service Type</li>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <label for="city" class="form-control-label">City Name</label>
                                <input class="form-control"
                                       ng-model="model.city"
                                       id="city"
                                       name="City"
                                       placeholder="Enter City"
                                       type="text" required/>

                                <div class="error" ng-show="searchService.City.$invalid && searchService.$submitted">
                                    <li>Please Enter City Name</li>
                                </div>
                            </div>

                            <button type="submit" ng-click="model.searchServiceByType(model.service.type, model.city)" class="btn btn-block btn-primary">
                                Search Services By Service-Type in a City
                            </button>
                        </div>
                    </form>

                    <ul class="list-group">
                        <div ng-repeat="service in model.servicesByType track by $index">
                            <li class="list-group-item">
                                <a href=""
                                   data-toggle="modal"
                                   data-target="#orderService"
                                   data-dismiss="modal"
                                   target="_self"
                                   ng-click="model.setServiceId(service._id)">
                                    Service Name :    {{service.name}}
                                </a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="orderService" role="dialog" data-backdrop="false">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header-login">
                    <h2>Order Service</h2>

                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Service Name</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">{{model.modalService.name}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Service Description</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">{{model.modalService.description}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Service Capacity</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">{{model.modalService.capacity}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Service City</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">{{model.modalService.city}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Service Address</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">{{model.modalService.address}}</p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="model.modalServicefood">
                            <label class="col-sm-4 control-label">Per Plate Cost</label>
                            <div class="col-sm-8">
                                <p class="form-control-static">{{model.modalService.perPlateCost}}</p>
                            </div>
                        </div>
                    </form>

                    <form name="orderform" novalidate>
                        <div class="form-group" ng-show="model.modalServicefood">
                            <label for="numberOfPlates" class="form-control-label">Total Plates</label>
                            <input ng-model="model.platesrequested"
                                   id="numberOfPlates"
                                   name="numberOfPlates"
                                   class="form-control"
                                   type="number"
                                   min="1"
                                   placeholder="Number of Plates" required/>
                        </div>

                        <div class="error" ng-show="model.modalServicefood && orderform.numberOfPlates.$invalid && orderform.$submitted">
                            <li>Please Enter Number to Plates that needs to be Ordered</li>
                        </div>

                        <div class="input-group bootstrap-timepicker timepicker">
                            <input ng-model="model.deliveryTime"
                                   id="timepicker3"
                                   name="deliveryTime"
                                   type="text"
                                   placeholder="Delivery Time"
                                   value="5:15 PM"
                                   class="form-control input-small" required/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>

                        <div class="error" ng-show="orderform.deliveryTime.$invalid && orderform.$submitted">
                            <li>Please Enter Delivery Time</li>
                        </div>

                        <label for="event-date">Event Data</label>
                        <input id="event-date"
                               name="deliveryDate"
                               type="text"
                               class="form-control"
                               ng-model="model.deliveryDate" required/>

                        <div class="error" ng-show="orderform.deliveryDate.$invalid && orderform.$submitted">
                            <li>Please Enter Delivery Date</li>
                        </div>

                        <div ng-show="model.orderstatus">
                            {{model.orderstatus}}
                        </div>


                        <button type="submit" class="btn btn-success btn-block"
                           ng-click="model.createOrder(model.modalService._id, model.platesrequested, model.deliveryDate, model.deliveryTime)">
                            Place Order
                        </button>


                    </form>
                </div>

                <a href="" class="btn btn-primary btn-block" data-dismiss="modal">
                        Cancel
                </a>
            </div>
        </div>
    </div>


</div>

<div class="bottom-padding"></div>
