<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/vendor/{{model.vendorId}}/service" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </div>
            <a class="navbar-brand" href="#/vendor/{{model.vendorId}}/service">
                <label>Services</label>
            </a>
        </div>

        <div class="col-xs-12 visible-xs">
            <div class="navbar-text pull-left">
                <a href="#/vendor/{{model.vendorId}}/service" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="container">
        <h1 class="text-center">{{model.service.name}}</h1>
        <h2 class="text-center">{{model.service.description}}</h2>
    </div>


    <div id="services" class="container-fluid text-center">
        <div class="row slideanim">
            <div class="col-sm-6">
                <span class="glyphicon  glyphicon-user logo-smaller"></span>
                <h4>{{model.service.capacity}}</h4>
            </div>

            <div class="col-sm-6">
                <span class="glyphicon glyphicon-map-marker logo-smaller"></span>
                <h4>{{model.service.city}}</h4>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <h4>Contact Informaiton</h4>
        <p> {{model.service.address}} <p>
    </div>

    <div class="container text-center">
        <h4>Per Plate Cost</h4>
        <p> {{model.service.perPlateCost}} <p>
    </div>

    <div class="form-group text-center">
        <label for="numberOfPlates" class="form-control-label">Total Plates</label>
        <input ng-model="model.platesrequested"
               id="numberOfPlates"
               class="form-control"
               type="text"
               placeholder="Number of Plates"/>
    </div>



    <div class="input-group bootstrap-timepicker timepicker">
        <input ng-model="model.time"
               id="timepicker1"
               type="text"
               class="form-control input-small"/>
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
    </div>

    <div class="text-center">
        <a class="btn btn-success" ng-click="model.createOrder(model.service._id, model.platesrequested)">
            Place Order
        </a>
    </div>

    <div ng-show="model.orderstatus">
        {{model.orderstatus}}
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/vendor/{{model.vendorId}}" class="navbar-link">
                <span class="glyphicon glyphicon-vendor"></span>
            </a>
        </div>
    </div>
</nav>