<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/vendor/{{model.vendorId}}/service" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </div>
        <a class="navbar-brand" href="#/vendor/{{model.vendorId}}/service">
            <label>Services</label>
        </a>
        <a class="navbar-brand pull-right" href="#/host/{{model.hostId}}/event/{{model.eventId}}/shopping/search">
            <span class="glyphicon glyphicon-search pull-right "></span>
        </a>

    </div>
</nav>

<div class="container-fluid borderless">
    <ul class="list-group borderless">
        <div ng-repeat="iteminfo in model.items">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-xs-2"><img class="img-responsive" src={{iteminfo.item.mediumImage}}>
                    </div>
                    <div class="col-xs-4">
                        <h4 class="product-name"><strong>{{iteminfo.item.name}}</strong></h4>
                        <img  ng-if="iteminfo.item.customerRatingImage" height="18" width="80" src={{iteminfo.item.customerRatingImage}}>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-6 text-right">
                            <h4><strong>Price: <span class="text-muted">{{iteminfo.item.salePrice}}$</span></strong></h4>
                            <h4><strong>Shipping Rate: <span class="text-muted">{{iteminfo.item.standardShipRate}}$</span></strong></h4>
                        </div>
                        <div class="col-xs-4">
                            <label for="Quantity">quantity</label>
                            <input id="Quantity" type="text" class="form-control input-sm" ng-model="iteminfo.quantity" value="1">
                        </div>
                        <div class="col-xs-2 rollovericons">
                            <button type="button" ng-click="model.updateItem(item)" class="btn btn-primary btn-md">
                                Update
                            </button>
                            <a type="button" href={{iteminfo.item.productUrl}} target="_blank" class="btn btn-success btn-md">
                                <span class="glyphicon glyphicon-shopping-cart" ></span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/vendor/{{model.vendorId}}" class="navbar-link">
                <span class="glyphicon glyphicon-vendor"></span>
            </a>
        </div>
    </div>
</nav>