
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-text pull-left">
            <a href="#/host/{{model.hostId}}/event/{{model.eventId}}/home" class="navbar-link">
                      <span class="glyphicon glyphicon-chevron-left">
                      </span>
            </a>
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">PRODUCTS</div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/host/{{model.hostId}}/event/{{model.eventId}}/shopping/search">ADD NEW PRODUCT</a></li>
            </ul>
        </div>
    </div>
</nav>


<div ng-show="model.addError" class="alert alert-danger">
    {{model.addError}}
</div>

<div ng-show="model.addSucces" class="alert alert-success">
    {{model.addSucces}}
</div>

<div ng-show="model.deleteError" class="alert alert-danger">
    {{model.deleteError}}
</div>

<div ng-show="model.deleteSucces" class="alert alert-success">
    {{model.deleteSucces}}
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" ng-click="model.intializeMessages()" href="#claimed" target="_self">
                Claimed Items
            </a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="model.intializeMessages()" href="#unClaimed" target="_self">
                Unclaimed Items
            </a>
        </li>
    </ul>
</div>


<div class="tab-content">
    <div id="unClaimed" class="tab-pane">
        <div class="container-fluid borderless">
            <ul class="list-group borderless">
                <div ng-repeat="iteminfo in model.unClaimedItems">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><img class="img-responsive" src={{iteminfo.item.mediumImage}}>
                            </div>
                            <div class="col-xs-2">
                                <h4 class="product-name"><strong>{{iteminfo.item.name}}</strong></h4>
                                <img  ng-if="iteminfo.item.customerRatingImage" height="18" width="80" src={{iteminfo.item.customerRatingImage}}>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-6 text-right">
                                    <h4><strong>Price: <span class="text-muted">{{iteminfo.item.salePrice}}$</span></strong></h4>
                                    <h4><strong>Shipping Rate: <span class="text-muted">{{iteminfo.item.standardShipRate}}$</span></strong></h4>
                                        <button type="button" ng-click="model.claimItem(iteminfo)" class="btn btn-primary btn-md">
                                            Claim Item Yourself
                                        </button>
                                </div>
                                <div class="col-xs-3">
                                    <label for="Quantity">quantity</label>
                                    <input id="Quantity" type="text" class="form-control input-sm" ng-model="iteminfo.quantity" value="1">
                                </div>
                                <div class="col-xs-3 rollovericons container">
                                    <button type="button" ng-click="model.updateItem(iteminfo)" class="btn btn-primary btn-md">
                                        Update
                                    </button>
                                    <a type="button" href={{iteminfo.item.productUrl}} target="_blank" class="btn btn-success btn-md">
                                        <span class="glyphicon glyphicon-shopping-cart" ></span>
                                    </a>
                                    <button type="button" ng-click="model.deleteItem(iteminfo)" class="btn btn-danger btn-md">
                                        Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

    </div>
    <div id="claimed" class="tab-pane fade in active">
        <div class="container-fluid borderless">
            <ul class="list-group borderless">
                <div ng-repeat="iteminfo in model.claimedItems">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2"><img class="img-responsive" src={{iteminfo.item.mediumImage}}>
                            </div>
                            <div class="col-xs-2">
                                <h4 class="product-name"><strong>{{iteminfo.item.name}}</strong></h4>
                                <img  ng-if="iteminfo.item.customerRatingImage" height="18" width="80" src={{iteminfo.item.customerRatingImage}}>
                            </div>
                            <div class="col-xs-8">
                                <div class="col-xs-6 text-right">
                                    <h4><strong>Price: <span class="text-muted">{{iteminfo.item.salePrice}}$</span></strong></h4>
                                    <h4><strong>Shipping Rate: <span class="text-muted">{{iteminfo.item.standardShipRate}}$</span></strong></h4>
                                    <h4>Claimed By: {{iteminfo.name}}</h4>
                                    <div ng-if="model.checkGuest(iteminfo._guest)">
                                        <div class=" rollovericons">
                                            <button type="button" ng-click="model.unclaimItem(iteminfo)" class="btn btn-danger btn-md">
                                                Unlcaim
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <label for="claimedQuantity">quantity</label>
                                    <input id="claimedQuantity" type="text" class="form-control input-sm" ng-model="iteminfo.quantity" value="1">
                                </div>
                                <div class="col-xs-3 rollovericons">
                                    <button type="button" ng-click="model.updateItem(iteminfo)" class="btn btn-primary btn-md">
                                        Update
                                    </button>
                                    <a type="button" href={{iteminfo.item.productUrl}} target="_blank" class="btn btn-success btn-md">
                                        <span class="glyphicon glyphicon-shopping-cart" ></span>
                                    </a>
                                    <button type="button" ng-click="model.deleteItem(iteminfo)" class="btn btn-danger btn-md">
                                        Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
        </div>

    </div>
</div>
